body {background-color: black;}

h1{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 200px;
}

/* Dropdown Menu Section */
.dropBtn {
    background: rgb(180, 1, 180);
    /* display:flex;
    justify-content: center; */
}

.dropBtn:hover, .dropBtn:focus {
    background: purple;
}

.dropBtn:active {
    background:rgb(83, 1, 83);
}

.dropBtn__icon {
    /* color:greenyellow; */
    display:inline-flex;
    align-items:center;
    justify-content:center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background:grey;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px orange;
}

.dropdown-content a {
    color:hotpink;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background:indianred;
}

.show {display:block;}
/* Dropdown Menu Section */

.aboutMeText {
    color:rgb(8, 234, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotes {
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow: column;
}

.projectText {
    color:rgb(8, 234, 250);
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color:violet;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}
a:visited{color:darkviolet;}
a:hover{color:rgb(57, 214, 36)}

