body {background-color: cornsilk;}

.text {
color:rgb(22, 129, 12);
width: 300px;
height: 30px;}

.quotes {
    color:black;
    position:absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.arrow-up {
height: 0;
width: 0;
border-left: 130px solid transparent;
border-right: 130px solid transparent;
border-bottom: 130px solid darkgreen;

position: absolute;
top: 200px;
left: 500px;}

.arrow-up::before{
    height: 0;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid darkkhaki;
    content: '';
    position: absolute;
    top: 25px;
    left: -100px;
}


a {
    color:darkred;
    position:absolute;
    top:5px;
    bottom:0px;
    right:0px;
    left:0px;
    display:flex;
    justify-content:center;
}
a:visited{color:darkviolet;}
a:hover{color:rgb(57, 214, 36)}

h1::first-line {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}